body{
    height: 100vh;
    background-color: blue;
    background-image: url(Ex001/imagens/wallpaper002.jpg);
    background-position:top center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

div{
    background-color: white;
    max-width: 600px;
    margin: auto;
    text-align: justify;
    border: solid 2px black;
    border-radius: 20px;
    padding: 10px;
}

h1{
    text-align: center;
}